/**
 * Global styles
 */
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/**
 * Global variables
 */
:root {
  /**
   * Background colors
   */
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;

  /**
   * Text colors
   */
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

/**
 * Dark mode
 */
body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

/**
 * Global styles
 */
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
}

/**
 * Remove default styles
 */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

/**
 * Set box-sizing to border-box for all pseudo elements
 */
::before,
::after {
  box-sizing: border-box;
}

/**
 * Remove default list style
 */
ul {
  list-style-type: none;
}

/**
 * Section styles
 */
.section {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

/**
 * Animation for section
 */
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/**
 * Hide element
 */
.hidden {
  display: none !important;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowarp;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/**
 * ASIDE
 *
 * This is the aside section which contains the logo, navigation menu and toggler.
 */
.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

/**
 * LOGO
 *
 * This is the logo section which contains the logo and the link to the home page.
 */
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}

.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

/**
 * NAV TOGGLER
 *
 * This is the navigation toggler which is used to toggle the navigation menu.
 */
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

/**
 * NAVIGATION MENU
 *
 * This is the navigation menu which is used to navigate to different sections of the page.
 */
.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  padding: 5px 15px;
  position: relative;
  overflow: hidden;
}

.aside .nav li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-black-50);
  border-radius: 25px;
  transition: width 0.3s ease;
  z-index: -1;
}

.aside .nav li a:hover:not(.active)::before {
  width: 100%;
}

.aside .nav li a:hover:not(.active) {
  color: var(--text-black-900);
}

.aside .nav li a.active {
  color: var(--bg-black-100);
  background-color: var(--skin-color);
  border-radius: 25px;
}

.nav li a:hover:not(.active) i {
  animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
}

.aside .nav li a i {
  margin-right: 15px;
}
/* HOME */

/**
 * This section contains the home page information.
 * It includes the navigation menu, the home text, and the home image.
 */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

/**
 * This flex container contains the home text and image.
 */
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

/**
 * This sets the font size for the home page title.
 */
h1 {
  font-size: 35px;
  margin: 15px 0;
  color: var(--skin-color);
}

/**
 * This sets the font size for the hello and my profession text.
 */
h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

/**
 * This sets the font family, font size, and color for the hello text.
 */
h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
  font-weight: 700;
  color: var(--skin-color);
}

/**
 * This sets the font size for the my profession text.
 */
h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

/**
 * This sets the color for the typing animation.
 */
.typing {
  color: var(--skin-color);
}

/**
 * This sets the font size and color for the home text.
 */
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  text-align: justify;
  color: var(--text-black-700);
}

/**
 * This flex container contains the home image.
 */
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

/**
 * This adds a border around the home image.
 */
.home-img::after,
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
}

/**
 * This sets the border bottom and right for the home image.
 */
.home-img::after {
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  bottom: 90px;
  right: -20px;
}

/**
 * This sets the border top and left for the home image.
 */
.home-img::before {
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  top: -20px;
  left: -5px;
}

/**
 * This sets the width and height for the home image.
 */
.home .home-img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
}

/* ABOUT SECTION */

/**
 * This section contains the about page content.
 * It includes about text, personal info, and skills.
 */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

/**
 * This section contains the about text.
 */
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

/**
 * This sets the font size, margin, weight, and color for the about text heading.
 */
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

/**
 * This sets the color for the highlighted text in the about heading.
 */
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

/**
 * This sets the font size, line height, and color for the about text paragraphs.
 */
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 16px;
  text-indent: 20px;
  color: var(--text-black-700);
}

/**
 * This section contains personal information.
 */
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

/**
 * This sets the layout for each personal information item.
 */
.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

/**
 * This sets the font weight, padding, and color for personal information paragraphs.
 */
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

/**
 * This sets the font weight and color for span elements within personal info items.
 */
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

/**
 * This sets the appearance and transition effect for links in info items.
 */
.info-item a {
  text-decoration: none;
  color: var(--text-black-700);
  transition: color 0.3s ease;
}

/**
 * This sets the hover effect for links in info items.
 */
.info-item a:hover {
  color: var(--skin-color);
}

/**
 * This section contains the action buttons.
 */
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

/**
 * This sets the margin for buttons within the personal info section.
 */
.about .about-content .personal-info .buttons .btn {
  margin-top: 10px;
}

/**
 * This section contains the skills information.
 */
.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

/**
 * This sets the layout and positioning for each skill item.
 */
.about .about-content .skills .skill-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  position: relative;
}

/**
 * This sets the font size, weight, and color for skill item headings.
 */
.about .about-content .skills .skill-item h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-black-900);
  text-transform: capitalize;
}

/**
 * This sets the layout for skill details, aligning items and spacing.
 */
.about .about-content .skills .skill-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/**
 * Styles for skill details paragraph.
 */
.about .about-content .skills .skill-details p {
  margin: 0;
  color: var(--text-black-700);
  flex: 1;
}

/**
 * Styles for skill percentage display.
 */
.about .about-content .skills .skill-details .skill-percent {
  margin-left: 15px;
  font-weight: 400;
  color: var(--text-black-900);
  white-space: nowrap;
}

/**
 * Styles for progress bar container.
 */
.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

/**
 * Styles for progress indicator.
 */
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

/**
 * Layout for education and experience sections.
 */
.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

/**
 * Styles for section titles.
 */
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

/**
 * Layout for timeline box.
 */
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

/**
 * Styles for timeline container.
 */
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

/**
 * Layout and positioning for timeline items.
 */
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

/**
 * Adjust padding for the last timeline item.
 */
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 15px;
}

/**
 * Vertical line for timeline items.
 */
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

/**
 * Styles for timeline indicator dot.
 */
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

/**
 * Styles for timeline date text.
 */
.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

/**
 * Icon margin for timeline date.
 */
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}

/**
 * Styles for timeline title.
 */
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

/**
 * Styles for timeline text.
 */
.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  text-indent: 20px;
  color: var(--text-black-700);
}

/**
 * Margin for tools section.
 */
.tools {
  margin-top: 40px;
}

/**
 * Styles for tools section title.
 */
.tools .title {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-black-900);
  margin-bottom: 20px;
}

/**
 * Layout for tool container.
 */
.tool-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/**
 * Styles for tool category section.
 */
.tool-category {
  flex: 1 1 33.33%;
  max-width: 33.33%;
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 2px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

/**
 * Styles for tool category title.
 */
.tool-category h4 {
  font-weight: 600;
  color: var(--skin-color);
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

/**
 * Layout for tool items.
 */
.tool-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/**
 * Styles for tool item icons.
 */
.tool-item i {
  margin-right: 10px;
  color: var(--skin-color);
}

/**
 * Styles for tool item text.
 */
.tool-item span {
  font-size: 16px;
  color: var(--text-black-700);
}
/**
 * Styles for service section.
 */
.service .container {
  padding-bottom: 40px;
}

/**
 * Styles for service items.
 */
.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

/**
 * Styles for service item inner section.
 */
.service .service-item .service-item-inner {
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  min-height: 100%;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.35s ease;
}

/**
 * Styles for service item inner on hover.
 */
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/**
 * Styles for service item icon.
 */
.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}

/**
 * Styles for service item icon on hover.
 */
.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}

/**
 * Styles for service item icon on hover.
 */
.service .service-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}

/**
 * Styles for service item icon on hover.
 */
.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: #ffffff;
}

/**
 * Styles for service item title.
 */
.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

/**
 * Styles for service item text.
 */
.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/* PORTFOLIO */
.portfolio .container {
  padding-bottom: 40px;
}

.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-item-inner {
  border: 6px solid var(--text-black-900);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  /* Change cursor on hover */
  position: relative;
  /* Important for overlay positioning */
}

.portfolio .portfolio-item-inner .portfolio-img {
  position: relative;
  /* Position relative for absolute overlay */
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  /* Smooth zoom effect */
}

.portfolio .portfolio-item-inner .portfolio-img:hover img {
  transform: scale(1.05);
  filter: blur(1px) grayscale(100%);
  /* Scale image on hover */
}

.portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Dark overlay */
  color: #fff;
  /* Text color for overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* Hidden by default */
  transition: opacity 0.3s ease;
  /* Fade effect */
}

.portfolio .portfolio-item-inner:hover .overlay {
  opacity: 1;
  /* Show overlay on hover */
}

.overlay h4 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.overlay p {
  font-size: 14px;
  margin: 0;
  text-align: center;
  /* Center align text in overlay */
}

/* CERTIFICATES */
.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the items in the certificates section */
}

.certificates .container {
  padding-bottom: 40px;
}

.certificates .certificate-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.certificates .certificate-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.certificates .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.certificates .section-title h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.certificates .certificate-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.certificates .certificate-item .certificate-item-inner {
  border: 6px solid var(--text-black-900);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.certificates .certificate-item-inner .certificate-img {
  position: relative;
}

.certificates .certificate-item-inner .certificate-img img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  /* Smooth zoom effect */
}

.certificates .certificate-item-inner .certificate-img:hover img {
  transform: scale(1.05);
  filter: grayscale(100%) blur(1px);
  /* Scale image on hover */
}

.certificates .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* Fade effect */
}

.certificates .certificate-item-inner:hover .overlay {
  opacity: 1;
  /* Show overlay on hover */
}

.overlay h4 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.overlay p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* CONTACT */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}

/* CONTACT INFO ICON COLORS */
.contact-info-item .icon.linkedin .fab {
  font-size: 25px;
  color: var(--skin-color);
  /* LinkedIn Blue */
}

.contact-info-item .icon.facebook .fab {
  font-size: 25px;
  color: var(--skin-color);
  /* Facebook Blue */
}

.contact-info-item .icon.youtube .fab {
  font-size: 25px;
  color: var(--skin-color);
  /* YouTube Red */
}

/* Optional Hover Effects for Links */
.contact-info-item a {
  text-decoration: none;
  color: var(--text-black-700);
  transition: color 0.3s ease;
}

.contact-info-item a:hover {
  color: var(--skin-color);
  /* Use your theme's skin color for hover */
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Centering for the certificate pagination */
#certificate-pagination {
  width: 100%;
  /* Set width to 100% for full container space */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  padding: 8px 12px;
  border: none;
  background-color: var(--bg-black-100);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page-btn.active {
  background-color: var(--text-black-900);
  color: var(--bg-black-100);
}

.page-btn:hover {
  background-color: var(--text-black-700);
  color: var(--bg-black-100);
}

@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }

  .aside {
    left: -270px;
  }

  .aside.open {
    left: 0;
  }

  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .tool-category,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .certificates .certificate-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }

  .contact .contact-form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact .contact-form .col-6 button {
    display: block;
    width: 100%;
    padding: 1.5rem;
  }

  .contact {
    padding-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .certificates .certificate-item,
  .service .service-item,
  .tool-category,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info,
  .about .about-content .personal-info .info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.nav li a i {
  transition: transform 0.3s; /* Add transition for smooth animation */
}

.nav li a i.spin {
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * Preloader styles
 * 
 * Styles for the preloader element which displays during page load.
 * The preloader is a full-screen overlay with a pulsing text element
 * that displays the text "LOADING".
 */

#preloader {
  /**
   * Position the preloader absolutely at the top left of the viewport
   */
  position: fixed;
  top: 0;
  left: 0;

  /**
   * Set the background color to a dark shade of the primary color
   */
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-position: center;

  /**
   * Set the width and height of the preloader to 100% of the viewport
   */
  width: 100%;
  height: 100%;

  /**
   * Set the z-index of the preloader to 9999 to ensure it appears on top of all other elements
   */
  z-index: 9999;

  /**
   * Set the display to flex and center the content both horizontally and vertically
   */
  display: flex;
  justify-content: center;
  align-items: center;

  /**
   * Set the font family to Arial, sans-serif
   */
  font-family: Arial, sans-serif;
}

/**
 * Loading text styles
 * 
 * Styles for the loading text element which is displayed inside the preloader.
 * The loading text is a large, bold, and pulsing text element that displays the text "LOADING"
 */

.loading-text {
  /**
   * Set the font size to 48px
   */
  font-size: 48px;

  /**
   * Set the letter spacing to 15px
   */
  letter-spacing: 15px;

  /**
   * Set the font weight to bold
   */
  font-weight: bold;

  /**
   * Set the background of the loading text to an image
   * The image will only be visible inside the text
   */
  color: orange;

  /**
   * Apply the pulse animation to the loading text
   */
  animation: pulse 2s ease-in-out infinite;

  /**
   * Set the position of the loading text to absolute
   */
  position: absolute;

  /**
   * Set the bottom of the loading text to 1em
   */
  bottom: 1em;

  /**
   * Set the left of the loading text to 50%
   */
  left: 50%;

  /**
   * Set the transform of the loading text to translateX(-50%)
   */
  transform: translateX(-50%);
}

/**
 * Pulse animation
 * 
 * Animation that makes the loading text pulse in and out
 */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Responsive styles for the preloader
 * 
 * Adjust the font size and letter spacing of the loading text based on the screen size
 */

@media (max-width: 767px) {
  .loading-text {
    font-size: 32px;
    letter-spacing: 10px;
  }
}

@media (max-width: 480px) {
  .loading-text {
    font-size: 24px;
    letter-spacing: 5px;
  }
}

/**
 * Footer styles
 * 
 * Styles for the footer element which contains the links to my social media profiles and
 * a copyright statement.
 */
footer {
  /**
   * Position the footer at the bottom of the viewport
   */
  position: fixed;
  bottom: 0;
  /**
   * Set the width to 100% of the viewport
   */
  width: 100%;
  /**
   * Center the content horizontally
   */
  text-align: center;
  /**
   * Add a small amount of padding to the top and bottom of the footer
   */
  padding: 5px;
  /**
   * Set the background color to a dark shade of the primary color
   */
  background-color: var(--bg-black-900);
  /**
   * Set the text color to the secondary color
   */
  color: var(--text-black-700);
  /**
   * Set the z-index of the footer to 1000 to ensure it appears on top of all other elements
   */
  z-index: 1000;
  /**
   * Set the display to flex to center the content both horizontally and vertically
   */
  display: flex;
  justify-content: center;
  align-items: center;
  /**
   * Set the transition for the background color and text color to 0.3s ease
   */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/**
 * Styles for the paragraphs in the footer
 */
footer p {
  /**
   * Remove the default margin from the paragraphs
   */
  margin: 0;
}

/**
 * Styles for the links in the footer
 */
footer a {
  /**
   * Set the color of the links to the primary color
   */
  color: var(--skin-color);
  /**
   * Remove the underline from the links
   */
  text-decoration: none;
  /**
   * Add a small amount of margin to the left and right of the links
   */
  margin: 0 5px;
  /**
   * Set the transition for the color to 0.3s ease
   */
  transition: color 0.3s ease;
}

/**
 * Styles for the links on hover
 */
footer a:hover {
  /**
   * Add an underline to the links on hover
   */
  text-decoration: underline;
}

/**
 * Styles for the unordered list in the footer
 */
footer ul {
  /**
   * Remove the default list style
   */
  list-style: none;
  /**
   * Remove the default margin and padding from the unordered list
   */
  margin: 0;
  padding: 0;
  /**
   * Set the display to flex to center the content both horizontally and vertically
   */
  display: flex;
  justify-content: center;
  align-items: center;
  /**
   * Set the flex basis and maximum width to 100% to fill the container
   */
  flex: 0 0 100%;
  max-width: 100%;
}

/**
 * Styles for the list items in the unordered list
 */
footer ul li {
  /**
   * Set the display to inline block to make the list items display inline
   */
  display: inline-block;
  /**
   * Add a small amount of margin to the left and right of the list items
   */
  margin: 0 10px;
}

/**
 * Styles for the icon elements in the links
 */
footer a i {
  /**
   * Set the font size to 20px
   */
  font-size: 20px;
  /**
   * Set the display to inline to make the icon elements display inline
   */
  display: inline;
  /**
   * Set the transition for the transform property to 0.3s ease
   */
  transition: transform 0.3s ease;
}

/**
 * Styles for the icon elements on hover
 */
footer a i:hover {
  /**
   * Scale the icon elements by 1.2 on hover
   */
  transform: scale(1.2);
}

.aside {
  /**
     * Set the bottom property to auto to move the aside element to the top of the viewport
     */
  bottom: auto;
  /**
     * Set the z-index to 1001 to make the aside element appear on top of the footer
     */
  z-index: 1001;
}

.section {
  /**
     * Add a small amount of padding to the bottom of the section
     */
  padding-bottom: 55px;
}

@media (max-height: 550px) {
  .aside .logo {
    top: 10px;
  }

  .nav-toggler {
    top: 15px;
  }

  .aside .nav li a {
    font-size: 10px;
  }

  .aside .nav li a::before {
    bottom: 5px;
  }
}

/**
 * Responsive styles for the footer
 */
@media (max-width: 1199px) {
  footer {
    text-align: center;
  }

  footer ul {
    margin-top: 10px;
  }

  footer ul li {
    margin: 0 5px;
  }

  footer a i {
    font-size: 14px;
  }

  .section {
    padding-bottom: 100px;
  }
}
